#boardCanvas
{
    position:absolute;
    border-style:solid;
    border-color:black;
    border-width:0px;
}

body
{
overflow:hidden;
}

*
{
  margin:0;
  padding:0;
}

div.noDim
{
  display:table;
  width:0px;
  height:0px;
}

div.countdownTextWrapper
{
  position:absolute;
  top:100px;
}

div.countdownText
{
  font-family:arial;
  font-size:20pt;
  display:table-cell;
  color:white;
  vertical-align:middle;
  text-align:center;
  width:800px;
  height:800px;
}

div.inactiveMenuWrapper
{
  position:relative;
  background: rgba(191, 191, 191,.7);
  z-index:999;
}
div.helpMenuWrapper
{
  position:relative;
  background: rgba(191, 191, 191,.7);
  z-index:999;
}

div.inactiveMenuWrapper > div
{
  position:relative;
}
div.helpMenuWrapper > div
{
  position:relative;
}

div.inactiveMenuWrapper > div > p
{
  font-family:arial;
  position:relative;
  color:black;
  margin-left: auto;
  margin-right: auto;
  font-size:70pt;
  text-align:center;
  margin-bottom:50px;
}
div.inactiveMenuWrapper > div > p:first-of-type
{
  font-size:120pt;
}

div.inactiveMenuWrapper > div > input
{
  font-family:arial;
  display:block;
  border-radius:5px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  font-size:100px;
  color:black;
}
