#boardCanvas
{
    position:absolute;
    border-style:solid;
    border-color:black;
    border-width:0px;
}

body
{
  font-family:arial;
  overflow:hidden;
  height:100%;
  width:100%
}

*
{
  margin:0;
  padding:0;
}

div.noDim
{
  display:table;
  width:0px;
  height:0px;
}

div.countdownTextWrapper
{
  display:table;
  position:absolute;
}

span.countdownText
{
  display:table-cell;
  color:white;
  vertical-align:middle;
  text-align:center;
}

div.menu
{
  position: relative;
  background: rgba(191, 191, 191, .7);
  z-index:999;
}

div.inactiveMenuWrapper > div:nth-child(2)
{
  display: table;
  table-layout: fixed;
}

div.inactiveMenuWrapper > div > p
{
  text-align:center;
}

div.inactiveMenuWrapper > div > span
{
  display: table-cell;
  text-align:center;
}

div.inactiveMenuWrapper input
{
  border-style:solid;
  border-radius:1px;
  border-color:black;
  color:black;
}

span.innerLeaderboard
{
  position:relative;
  display:inline-block;
}
span.innerLeaderboard table,th,td
{
  overflow:auto;
  border-style:solid;
  border-color:black;
  border-width:1px;
  border-collapse:collapse;
  text-align:center;
}
span.innerLeaderboard input
{
  margin-top: 30px;
  display:block;
  width:30%;
  height:10%;
  margin-left:auto;
  margin-right:auto;
}
